# Configuration Gmail pour MailService
EMAIL_USER=lockifydoc@gmail.com
EMAIL_PASS=ltqjzlzruvnmvmqn
MAIL_LINK=https://localhost:3000

# Configuration JWT
JWT_SECRET=Lockify10@
JWT_REFRESH_SECRET=Lockify10@

# Configuration MongoDB
MONGO_URL=mongodb://localhost:27017/lockify_bd

# Configuration Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=