# Configuration Gmail
MAIL_USER=emilenandobrou@gmail.com
MAIL_PASSWORD=xaqkwhnyikjgxowy
MAIL_LINK=https://localhost:3000

# Configuration MongoDB
MONGO_URL=mongodb://localhost:27017/lockify_bd

# Configuration Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
